html, body {
    height: 100%;
    background-color: #e2e8f0; /* Un grigio chiaro */
    font-family: Arial, sans-serif; /* Un font più pulito */
}

.main-head {
    grid-area: header;
    
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
}
    .header-top {
        grid-column: 1/2;
        grid-row: 1/2;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
    }
      .search-label{
        display: flex;
        align-items: center;
        gap: 10px;
        color: #555;
      }
        #search-bar {
            padding: 5px 15px; /* Spazio interno */
            border: none;
            border-radius: 20px; /* Angoli leggermente arrotondati */
            background-color: #e2e8f0; 
            width: 300px; /* Larghezza fissa */
        }
        .search-label svg {
            width: 30px;
            height: 30px;
        }
      .profile {
        display: flex;
        align-items: center;
        gap: 15px;  
      }
        .profile > h4 {
          font-weight: bold;
          font-size: 1.1rem;
          margin: 0;
        }
        .profile img {
            width: 40px; /* Imposta una dimensione per l'immagine */
            height: 40px;
            border-radius: 50%; /* Le rende rotonde */
        }
        .profile p {
            margin: 0;
        }
          .notification {
            color: #555;
            cursor: pointer;
          }
          .notification:hover {
            color: #1992d4; /* Cambia colore al passaggio del mouse */
          }

    .header-bottom {
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px 40px 20px 40px;
    }
        .welcome {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            align-items: center;
        }
            .welcome > img{
                grid-row: 1/3;
                width: 60px; /* Imposta una dimensione per l'immagine */
                height: 60px;
                border-radius: 50%; /* Le rende rotonde */
                margin-right: 10px; /* Spazio tra immagine e testo */
            }
            .welcome > p {
                grid-column: 2/3;
                grid-row: 1/2;
                
                margin: 0;
                font-size: 0.9rem;
                font-weight: bold;
            }
            #usr-name {
                grid-column: 2/3;
                grid-row: 2/3;

                margin: 0;
                font-size: 1.5rem;
                font-weight: bold;
            }
            .btn_cta > button {
                width: auto;
                border-radius: 20px; /* Li rende più arrotondati (come "pillole") */
                background-color: #1992d4; /* Stesso blu della nav */
                color: white;
                font-weight: bold;
                border: none;
                padding: 8px 24px; /* Aggiunge un po' di spazio interno */
                margin: 0 5px; /* Spazia i bottoni tra loro */    
                cursor: pointer;}

.content {
  grid-area: content;
}
    .container-projects {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
      .project {
       background-color: white;

       padding: 25px;
       border-radius: 8px;
       border-left: 8px solid #f0b429;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
       display: flex;
       flex-direction: column;
      }
        .project-btns {
          align-self: flex-end;
          margin-top: auto;
        }
          .icon-btn {
            background: none;
            border: none;
            color: #555;
            padding: 5px;
            cursor: pointer;
          }
          .icon-btn:hover {
            color: #1992d4; /* Cambia colore al passaggio del mouse */
          }

.main-nav {
  grid-area: nav;
  background-color: #1992d4; /* <-- Questo è il blu del design */
}
  .main-nav > h1 {
    color: white;
    
    font-size: 1.7rem;
    font-weight: bolder;
    padding-left: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
    .main-nav > h1 > svg {
      width: 60px;
      height: 60px;
    }
  
  .main-menu,
  .settings{
    padding-left: 15px;
    margin-bottom: 60px;
  }
  .main-menu >  li,
  .settings > li{
    list-style: none;
    text-decoration: none;
    margin-bottom: 15px
  }
    .main-menu > li > a, 
    .settings > li > a{
      text-decoration: none;
      color: white;
      font-weight: bold;
      font-size: 1.2rem;

      display: flex;
      align-items: center;
      gap: 15px;
      padding: 10px 0;
    }
      .main-menu > li > a > svg {
        width: 30px;
        height: 30px;
      }



.side {
  grid-area: sidebar;
}
    .container-annouce {
      background-color: white;

      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
      .announce {
        border-bottom: 1px solid #e2e8f0;
      }

.ad {
  grid-area: ad;
}
  .container-trending {
    background-color: white;

    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
    .container-trending > div { /* Seleziona #usr1, #usr2, etc. */
      display: flex;
      align-items: center; /* Centra verticalmente l'immagine col testo */
      margin-bottom: 10px; /* Spazia gli utenti */
    }
      .container-trending img {
      width: 40px; /* Imposta una dimensione per l'immagine */
      height: 40px;
      border-radius: 50%; /* Le rende rotonde */
      margin-right: 10px; /* Spazio tra immagine e testo */
      }
        .usr-info p {
          margin: 0;
          line-height: 1.2;
        }
          .usr-info #usr-name {
            font-weight: bold;
            color:black;
          }
          .usr-info #usr-description {
            font-size: 0.9em;
            color: gray;
          }


.wrapper {
    height: 100%;
    display: grid;
    gap: 20px;
    grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad";

    grid-template-rows: auto 1fr auto auto auto;
}

@media (width >= 500px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "nav header"
        "nav     header"
        "sidebar content";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (width >= 700px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
      "nav    header header"
      "nav    content sidebar"
      "nav    content ad"
  }
  nav ul {
    flex-direction: column;
  }
}

/* mio css */




